.meta {
  font-family: var(--font-serif);
  font-size: var(--text-lg);
  font-style: italic;
  margin: 0 auto 1em;
  max-width: var(--size-max-width);
  padding-bottom: var(--size-gutter);
  top: -1em;
}

.container {
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 85%;
  padding: 0 36px;
}

.article {
  display: grid;
  font-size: var(--text-prose);
  gap: var(--space-xl);
  letter-spacing: var(--text-prose-tracking);
  line-height: var(--loose);
  padding: var(--size-gutter) var(--size-gutter) calc(var(--size-gutter) * 2);
}

.body {
  max-width: 48rem;
}

.article a {
  border-bottom: 1.5px solid currentColor;
  font-weight: var(--medium);
}

.article a:hover {
  border-bottom-color: transparent;
  color: var(--primary);
}

.article p {
  margin-bottom: 1.5em;
  margin-top: 0;
}

.article h1,
.article h2 {
  font-size: var(--text-2xl);
  margin-top: var(--space-3xl);
}

.article h3,
.article h4,
.article h5,
.article h6 {
  font-size: var(--text-prose);
  font-weight: var(--semibold);
  margin-bottom: 0.5em;
  margin-top: 3em;
}

.article li {
  margin-bottom: 0.5em;
}

.articleNavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1536px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 95%;
  }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
  .container {
    padding: 0px;
    max-width: 100%;
  }

  img {
    height: auto !important;
  }

  .article {
    padding: 0;
  }
  
  .body {
    padding: 20px;
  }
}