@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
}

:root {
  /* font-family */
  --font-sans: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-serif: 'Poppins', sans-serif;

  /* palette */
  --white: #fff;
  --black: #000;
  --black-fade-5: rgba(0, 0, 0, 0.05);

  /* radii */
  --radius-sm: 4px;

  /* spacing */
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 48px;

  /* line-height */
  --solid: 1;
  --dense: 1.25;
  --default: 1.5;
  --loose: 1.75;

  /* font-weight */
  --body: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --heavy: 900;

  /* font-size */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-2-5xl: 28px;
  --text-3xl: 32px;
  --text-3-5xl: 40px;
  --text-4xl: 50px;
  --text-5xl: 64px;
  --text-6xl: 76px;

  /* tokens */
  --primary: #4a90e2;
  --background: var(--white);
  --border: var(--black-fade-5);
  --text-color: var(--black);
  --native-color: #1D1D1D;
  
  /* text */
  --text-lead: var(--text-lg);
  --text-prose: var(--text-md);
  --text-title: var(--text-3-5xl);
  --text-subtitle: var(--text-3xl);
  --text-prose-tracking: -0.011em;

  /* size */
  --size-gutter: var(--space-2xl);
  --size-logo: var(--space-2xl);
  --size-max-width: 100rem;
}

html {
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--native-color);
  font-family: var(--font-serif);
  font-size: var(--text-md);
  font-weight: var(--body);
  line-height: var(--default);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 span,
h2 span,
h3 span,
h4 span {
  color: #FAAB00;
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semibold);
  line-height: var(--dense);
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

a.active {
  font-weight: var(--bold);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}

button:focus {
  outline: none;
}

img {
  display: block;
  width: 100%;
}

tt,
code,
kbd {
  background: var(--black-fade-5);
  font-family: var(--font-monospace);
  font-size: 90%;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code {
  background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
  font-weight: var(--medium);
  padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -0.2em;
}

pre,
code {
  font-family: var(--font-monospace);
}

.title {
  letter-spacing: -0.012em;
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin: 0 0 var(--space-xl);
}

.textIndent {
  text-indent: -30px;
}

.subTitle {
  letter-spacing: -0.012em;
  font-size: var(--text-subtitle);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin: 0 0 var(--space-xl);
}

/* Popup video */
html #popup-root .popup-content {
  width: 50%;
}

@media screen and (max-width: 768px) {
  html #popup-root .popup-content {
    width: 90%;
  }
}

@media (max-width: 480px) {
  :root {
    --size-gutter: var(--space-3xl);
  }
}
